<div class="container-fluid" style="height: 100vz">
  <div
    class="container-sm"
    style="margin-top: 10%; margin-bottom: 10%; width: 30%; min-width: 300px"
  >
    <div class="row">
      <p class="fs-1 text-center">Zarejestruj się</p>
    </div>
    <div class="row registerAsBorder">
      <div class="col-sm-12 col-md-6" align="center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Jako mechanik</button>
          <button type="button" class="btn btn-primary">Jako klient</button>
        </div>
      </div>
      <div class="col-sm-0 col-md-6"></div>
    </div>
    <div class="row mt-3 inputFieldCustomSpacing" align="center">
      <input
        class="form-control form-control-md"
        type="text"
        placeholder="Adres email"
        aria-label="pole email"
      />
    </div>
    <div class="row mt-3 inputFieldCustomSpacing">
      <input
        class="form-control form-control-md"
        type="text"
        placeholder="Hasło"
        aria-label="pole hasło"
      />
    </div>
    <div class="row mt-3 inputFieldCustomSpacing">
      <div class="col-2"></div>
      <div class="col-8" align="center">
        <button type="button" class="btn btn-secondary">Logowanie</button>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-5">
      <div class="col-12" align="center">
        <p class="text-center">Masz już konto?</p>
      </div>
      <div class="col-12" align="center">
        <p class="text-center text-decoration-underline">Zaloguj się</p>
      </div>
    </div>
  </div>
</div>
